<script type="text/javascript">
  Shopify.API.ready(function(){
    Shopify.API.Bar.initialize({
      'title': 'Edit: <%= j @unicorn.name %>',
      'icon': 'http://localhost:3001/icon.png',
      'primaryButton': { 'label': 'Save', 'message': 'edit_unicorn_save' },
      'buttons': [
        { label: "Cancel", action: function(){ window.location = '/unicorns'; } },
        { label: "Show", action: function(){ window.location = '<%= unicorn_path(@unicorn) %>'; } },
        { label: "Help", action: function(){ alert('View the project README for real help.'); } }
      ]
    });

    Shopify.API.Bar.loadingOff();
  });
</script>

<p>Editing unicorn</p>

<%= render partial: 'form', locals: {submit_message: "edit_unicorn_save"}  %>
