<script type="text/javascript">
  Shopify.API.ready(function(){
    Shopify.API.Bar.initialize({
      'title': 'Modal Windows',
      'buttons': [
        { label: "Back", action: function(){ window.location = "/"; } },
        { label: "Help", action: function(){ alert('View the project README for real help.'); } }
      ]
    });

    Shopify.API.Bar.loadingOff();
  });
</script>

<script type="text/javascript">
  function printResult(type, result, data){
    $("#results").append(type + " closed  result=" + result + "  data=" + data);
    $("#results").append("<br />");
  }
</script>

<p>
  <%= button_to_function "Open alert modal", "Shopify.API.Modal.alert('This is a test message.', function(result, data){ printResult('Alert', result, data) })" %>
  <%= button_to_function "Open confirm modal", "Shopify.API.Modal.confirm('Are you sure?', function(result, data){ printResult('Confirm', result, data) })" %>
  <%= button_to_function "Open input modal", "Shopify.API.Modal.input('Enter a value.', function(result, data){ printResult('Input', result, data) })" %>
</p>

<h2>Results</h2>

<p id="results" style="background-color: #eee; padding: 10px; margin: 10px"></p>

<p><%= link_to "Back", root_path %></p>
